.header {
    font-family: "Dela Gothic One", sans-serif;
    color: #3B82F6;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-decoration: underline;
}